@model Assassins.Models.Game

@{
    ViewBag.Title = "Resume Game";
}

<div>
    <h4>Game</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Current)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Current)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Registration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Registration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

    </dl>
</div>

<div>
    @using (Html.BeginForm("StartGame", "Admin", FormMethod.Post))
    {

        <div class="form-group">
            <h2>Are you sure you want to resume this game? <p class="lead" style="margin-bottom: 5px">Make sure that no other games are active before starting this game.</p></h2>
            @Html.HiddenFor(model => model.Id)
            @Html.ActionLink("Back to List", "ManageGames", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
            <input type="submit" value="Resume" class="btn btn-success" />

        </div>
    }
</div>