
@using Microsoft.AspNet.Identity
@using System.Data.Entity
@using Microsoft.AspNet.Identity.EntityFramework
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        var currentUserId = User.Identity.GetUserId();
        var manager = new UserManager<Assassins.Models.ApplicationUser>(new UserStore<Assassins.Models.ApplicationUser>(new Assassins.Models.ApplicationDbContext()));
        var currentUser = manager.FindById(currentUserId);

        if (currentUser.Name != null)
        {
            @Html.ActionLink("Manage", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        }
        <a href="" data-toggle="modal" data-target="#profileModal">Profile</a>
        if(currentUser.Admin)
        {
            @Html.ActionLink("Admin", "Index", "Admin", routeValues: null, htmlAttributes: new { title = "Admin" })
        }
        <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
    }
}
else
{
        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        @Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
}
